.hot {
  color: #f00
}
.portrait {
  text-align: center;
  float: right;
}
.oops {
  text-decoration: line-through;
}

.js-good-bad {
  transform: translate(-50%, 25%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.halfsies {
  float: left;
  width: 49%;
}
.halfsies:first-child {
  border-right: 1px solid black;
}
.procon {
  text-align: center;
  text-decoration: underline;
}
.patterns {
  width: 84%;
  margin: auto;
  text-align: center;
}
.patterns td {
  padding: 6px;
}
.patterns tr:nth-child(odd) {
  background-color: #eef;
}
.showme {
  opacity: 1.0 !important;
}
p.attrib {
  padding-top: 32px;
}
.compare {
  outline: 1px solid #66f;
}
thead {
  background-color: #66f;
  color: #fff;
}
tbody tr:nth-child(odd) {
  background-color: #eef;
}
.compare > thead > tr > th {
  width: 50%;
}
h3.yup, h3.nope {
  animation: blinker 250ms linear 20;
  font-size: 3em;
  text-align: center;
}
@keyframes blinker {  
  50% { opacity: 0; }
}
h3.yup {
  color: green;
}
h3.nope {
  color: red;
}
figure.f {
  text-align: center;
}
